<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{${session.baseURL}}" /> 
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
	<div class="wrapper">		
		<div class="content-wrapper" id="page-wrapper">
			<div class="" th:fragment="section">
				<div class="margin-homepage">
					<div class="container">
						
						<div>
							<h3 style="text-align:center; text-decoration:underline;">DELETE COURSE(S)</h3>
						</div>
						<br/><br/>
										
						<div style="color: red; font-size: 20px;">
							<script th:inline="javascript">
							/*<![CDATA[*/
									
									var info = [[${info}]];
									var infoMessage = [[${infoMessage}]];
									var showFlag = [[${showFlag}]];
							
									if ((info != null) && (info != ""))
									{
										swal({
									    	title: info,
									    	type : 'success',
									    	confirmButtonColor: '#3085d6'
										},
										
										function(button) 
										{			
										    if (button == true) 
										    {
										    	window.setTimeout(function ()
										    	{
										    		
										    	}, 0);		    			    	
										    }
										});													
									}
									
									if ((infoMessage != null) && (infoMessage != ""))
									{
										swal({
									    	title: infoMessage,
									    	type : 'info',
									    	confirmButtonColor: '#3085d6'
										},
										
										function(button) 
										{			
										    if (button == true) 
										    {
										    	window.setTimeout(function ()
										    	{
										    		
										    	}, 0);		    			    	
										    }
										});
									}
							/*]]>*/
							</script>
						</div>
						
						<div align="center" style="color: Red; font-weight: bold; text-align: center;" 
							th:if="${courseRegistrationModel.size()==0}" th:text="${'No Records Found'}"></div>
						<div class="table-responsive" style="margin-bottom: 30px;">
						
						<table class="w3-table-all w3-card-4 w3-hoverable" style="background-color: #e0f8f8;" 
									th:if="${not #lists.isEmpty(courseRegistrationModel)}">
						
							<thead>		
							<tr class="w3-blue">
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 15%;">Course Detail</th>
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 2%;">L T P J</th>
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 2%;">Credit</th>
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 5%;">Course Category</th>
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 5%;">Course Option</th>
								<th style="white-space: nowrap; border:1px solid #3c8dbc; 
										text-align: center; width: 5%;">&nbsp;</th>
							</tr>
							</thead>

							<tr th:each="RegisteredList : ${courseRegistrationModel}">
								<td style="border:1px solid #3c8dbc;">
			                  		<span th:text="${RegisteredList[1] +' - '+ RegisteredList[2] 
			                  			+' - '+ RegisteredList[5]}"></span>
			                  	</td>
			                  	
			                    <td style="border:1px solid #3c8dbc; text-align: center;">
			                  		<span th:text="${RegisteredList[6] +' '+ RegisteredList[7] 
											+' '+ RegisteredList[8] +' '+ RegisteredList[9]}"></span>
			                  	</td>
			                  	
			                    <td style="border:1px solid #3c8dbc; text-align: center;">
			                  		<span th:text="${RegisteredList[10]}"></span>
			                  	</td>
			                  
			                    <td style="border: 1px solid #3c8dbc;">
									<span th:if="${curriculumMapList.isEmpty()}" th:text="${'-'}"></span>
													
									<th:block th:if="${(!curriculumMapList.isEmpty()) 
												and (curriculumMapList.containsKey(RegisteredList[1]))}" 
											  th:each="e2 :${curriculumMapList.get(RegisteredList[1])}">
										<span th:if="${e2[2] == 'CC'}" th:text="${e2[1]}"></span>
										<span th:if="${e2[2] == 'BC'}" th:text="${e2[1] +' ('+ e2[7] +' Basket)'}"></span>
									</th:block>
										
									<span th:if="${(!curriculumMapList.isEmpty()) 
											and (!curriculumMapList.containsKey(RegisteredList[1]))}" 
							  				th:text="${'University Elective'}"></span>
							    </td>
							    
							    <td style="border:1px solid #3c8dbc;">
							    	<span th:if="${RegisteredList[11] != 'CS'}" th:text="${RegisteredList[12]}"></span>
									<span th:if="${RegisteredList[11] == 'CS'}" 
										th:utext="${RegisteredList[15] != null} 
											? ${RegisteredList[12]} +' ('+ ${#strings.replace(#strings.substring(RegisteredList[15],3,10),'_','')} +')'
											: ${RegisteredList[12]}"></span>
							    </td>
																									
								<td style="border:1px solid #3c8dbc; text-align: center;">
									<button class="btn-warning w3-btn w3-btn-red w3-round-large" type="button"
										th:if="${#lists.contains(blockedCourse, RegisteredList[0]) == false}"  
										th:data-parameter1="${RegisteredList[0]}"
										th:data-csrfname="${_csrf?.parameterName}" 
										th:data-csrfvalue="${_csrf?.token}" 
  				 						th:onclick="javascript:processDeleteCourseRegistration(
  				 							this.getAttribute('data-parameter1'), this)">Delete</button>
  				 					
  				 					<span style="font-weight: bold;" 
  				 						th:if="${#lists.contains(blockedCourse, RegisteredList[0])}">Blocked</span>
								</td>										
							</tr>
						</table>
						</div> 
						<br/>
											
					</div>
				</div>					
			</div>
		</div>		
	</div>
</body>
</html>