<!DOCTYPE html>
<!--
  Author: Sivaraman C & Kishore B
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<link href="assets/img/favicon1.png" rel="icon" type="image/x-icon" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
	<style>
			* {
		        margin: 0;
		        padding: 0;
		        border: 0;
		        outline: 0;
		        font-size: 100%;
		        vertical-align: baseline;
		        background: transparent;
		    }

			div.logout {
			    width: 500px;
			    min-height:100px;
			    border: 1px solid blue;
			    box-sizing: border-box;
			    box-shadow: 10px 10px 5px #888888;
			    border-radius: 9px;
			    text-align: center;
			}

			.buttonClass {
				border-radius: 3px;
				cursor:pointer;
			}
			
	</style>
	
</head>

<body style="padding:0px;margin:0px;background-color:#ECF0F5">
	<div class="wrapper">

		<header class="main-header">
			<nav class="navbar navbar-static-top">
				<div class="container">
					<h4 class="pull-right" style="color: #fff; ">V-TOP Message</h4> 
				</div>
			</nav>
		</header>
		
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1 th:text="${message}"></h1>
				<ol class="breadcrumb">
				</ol>
			</section>

			<section class="content">
				<div class="col-sm-12 col-md-6 col-md-offset-3"
					style="margin-top: 50px;">
					<div class="info-box">
						
						<div class="info-box-content">
							<h4 style="color: red;">
								<span style="visibility: hidden;">___INTERNAL___RESPONSE___ </span>
								<i class="fa fa-warning text-red" th:text="${error}"></i> 								
							</h4>
							<div th:if="${errno==0}" >
								<a th:href="@{/logout}" class="btn btn-warning pull-right">Logout</a>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			
		</div>	
	</div>
</body>
</html>
